.item {
  display: flex;
  padding: 8px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.date {
  color: gray;
  font-size: 12px;
}

.message {
  font-size: 14px;
}
